{% extends "cadmin/base_admin.html" %}

{% block title %}
    All Posts - {{ block.super }}
{% endblock %}

{% block main %}
{%load static%}
    <div class="main">

   <!--  <p>&#187; <a href="{% url 'account_info' %}">Account Info</a></p> -->

   <div class="page-wrapper">
        
        {% include "cadmin/header.html" %}
        <!-- start page container -->
        <div class="page-container">
             {% include "cadmin/sidebar.html" %}
            <!-- start page content -->
             <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">User Profile</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'index' %}">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                            
                                <li class="active">User Profile</li>
                            </ol>
                        </div>
                    </div>
                     
                   <!-- start widget -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN PROFILE SIDEBAR -->
                            <div class="profile-sidebar">
                                <div class="card card-topline-aqua">
                                    <div class="card-body no-padding height-9">
                                        <div class="row">
                                            <div class="profile-userpic">
                                                <img src="{% static 'assets/img/dp.jpg' %}" class="img-responsive" alt=""> </div>
                                        </div>
                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name"> {{ request.user.username }} </div>
                                            <div class="profile-usertitle-job"> Jr. Professor </div>
                                        </div>
                                        <ul class="list-group list-group-unbordered">
                                            <li class="list-group-item">
                                                <b>UserName</b> <a class="pull-right">{{ request.user.username }}</a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Email</b> <a class="pull-right"> {{ request.user.email }}</a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Joined Date</b> <a class="pull-right">{{ request.user.date_joined }}</a>
                                            </li>
                                            <li class="list-group-item">
                                                <b>Last Login</b> <a class="pull-right">{{ request.user.last_login }}</a>
                                            </li>
                                        </ul>
                                        <!-- END SIDEBAR USER TITLE -->
                                        
                                    </div>
                                </div>
                                
                              
                               
                            </div>
                            <!-- END BEGIN PROFILE SIDEBAR -->
                            <!-- BEGIN PROFILE CONTENT -->
                            <!-- <div class="profile-content">
                                <div class="row">
                                    <div class="profile-tab-box">
                                        <div class="p-l-20">
                                            <ul class="nav ">
                                                <li class="nav-item tab-all"><a
                                                    class="nav-link active show" href="#tab1" data-toggle="tab">Setting</a></li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="white-box"> -->
                                                <!-- Tab panes -->
                                           <!--  <div class="tab-content">
                                                <div class="tab-pane active fontawesome-demo" id="tab1"> -->
                                                         
                                                    <!-- <div class="tab-pane" id="tab3"> -->
                                                       <!--  <div class="row">
                                                            <div class="col-md-12 col-sm-12">
                                                                <div class="card-head">
                                                                    <header>Password Change</header>
                                                                    <button id = "panel-button2" 
                                                                           class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                                                                           data-upgraded = ",MaterialButton">
                                                                           <i class = "material-icons">more_vert</i>
                                                                        </button>
                                                                        <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                                                           data-mdl-for = "panel-button2">
                                                                           <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                                                                           <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                                                                           <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                                                                        </ul>
                                                                </div>
                                                                <div class="card-body " id="bar-parent1">
                                                                    <form>
                                                                        <div class="form-group">
                                                                            <label for="simpleFormEmail">User Name</label>
                                                                            <input type="email" class="form-control" id="simpleFormEmail" placeholder="Enter user name">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="simpleFormPassword">Current Password</label>
                                                                            <input type="password" class="form-control" id="simpleFormPassword" placeholder="Current Password">
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="simpleFormPassword">New Password</label>
                                                                            <input type="password" class="form-control" id="newpassword" placeholder="New Password">
                                                                        </div>
                                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                   
                                                </div>
                                            </div>
                                     </div>
                                </div> -->
                                <!-- END PROFILE CONTENT -->
                            </div>
                        </div>
                    </div>
                <!-- end page content -->
            
        </div>
        <!-- end page container -->
        </div>
          </div>
    </div>
{% endblock %}


