
{% extends "cadmin/base_admin.html" %}

{% block title %}
    All Customers - {{ block.super }}
{% endblock %}

{% block main %}

    <div class="main">

        <!-- <p>&#187; <a href="{% url 'customer_list' %}">All Customer</a> </p>

        <p class="button"><a href="{% url 'customer_add' %}">Add Customer &raquo;</a></p> -->

        

       <!--  <p class="count">Total Customers: {{ customers.paginator.count }}</p> -->
       <div class="page-wrapper">
        
        {% include "cadmin/header.html" %}
        <!-- start page container -->
        <div class="page-container">
             {% include "cadmin/sidebar.html" %}
            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Dashboard</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'index' %}">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">Customer</li>
                            </ol>
                        </div>
                    </div>
                     
                   <!-- start widget -->
                    <div class="state-overview">
                     
                        <div class="row">
                          
                            
                            <!-- /.col -->
                            <div class="col-xl-3 col-md-6 col-12">
                              <div class="info-box bg-blue">
                                <span class="info-box-icon push-bottom"><i class="material-icons">card_travel</i></span>
                                <div class="info-box-content">
                                  <span class="info-box-text">Total</span>
                                  <span class="info-box-text">Customer</span>
                                  <div class="progress">
                                    <div class="progress-bar width-100"></div>
                                  </div>
                                  <span class="progress-description">
                                        {{ customers.paginator.count }}
                                      </span>
                                </div>
                                <!-- /.info-box-content -->
                              </div>
                              <!-- /.info-box -->
                            </div>
                            
                     
                        </div>
                             </div>

                    <ul class="nav nav-pills nav-pills-rose">
                        <button type="button" class="btn btn-circle btn-success"><i class="fa fa-plus"></i><a href="{% url 'customer_add' %}" style="color:white"> Add Customer </a></button>
                       
                    </ul>
                     <!-- start Payment Details -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card  card-box">
                                <div class="card-head">
                                    <header>Customer Details</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                        <!-- <a class="t-close btn-color fa fa-times" href="javascript:;"></a> -->
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <form method='GET' action = ''>
                                        <input type='text' name='q' placeholder='Search Customers' value='{{request.GET.q}}' />
                                        <input type="submit" value="Search"/>
                                    </form><br>
                                  <div class="table-wrap">
                                        <div class="table-responsive">
                                                        
                                                            {% for customer in customers %}
                                                                {% if forloop.first     %}
                                                                   <table   class="table display product-overview mb-30" id="support_table5">
                                                                    <thead>
                                                                        <tr>
                                                                             <th>Id</th>
                                                                            <th>Name</th>
                                                                            <th>Contact</th>
                                                                            <th>Email</th>
                                                                            <th>Address</th>
                                                                            <th>Date</th>
                                                                            <th>Action</th>
                                                                            <th>Invoice</th>
                                                                            <th>Business Detail</th>
                                                                        </tr>
                                                                    </thead>
                                                                {% endif %}

                <tr>
                    <td title="{{ customer.id }}">{{ customer.id}}</td>
                    <td class="customer-name" title="{{ customer.name }}">{{ customer.name|truncatechars:50 }}</td>
                    <!-- <td>{{ customer.category }}</td> -->
                    <!-- {% if request.user.is_superuser %}
                        <td>{{ customer.author }}</td>
                    {% endif %} -->

                    <td title="{{ customer.contact }}">{{ customer.contact}}</td>
                    <td title="{{ customer.email }}">{{ customer.email }}</td>
                    <td title="{{ customer.address }}">{{ customer.address }}</td>

                    <td title="{{ customer.created_at }}">{{ customer.created_at|date:"d M Y" }}</td>
                    <td>
                        <a href="{% url 'customer_update' customer.id %}" class="btn btn-tbl-edit btn-xs"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-tbl-delete btn-xs" href= "{% url 'customer_delete' customer.id %}?next={{ request.get_full_path }}" onclick=" return confirm('Are you sure ?')"><i class="fa fa-trash-o "></i></a>
                    </td>
                    <td>        
                    <span class="label label-sm label-success"><a href="{% url 'invoice_show' customer.id %}" style="color: white">invoice</a></span>
                    
                    </td>
                    <td>
                   <span class="label label-sm label-success"><a href="{% url 'customer_view' customer.id %}" style="color: white">view</a></span>
                    </td>
                    
                </tr>

                {% if forloop.last %}
                    </table>
                {% endif %}

            {% empty %}
                No Customers
            {% endfor %}

    </div>

    {% if customers %}

        <div class="pagination">
            <p>
                {% if customers.has_previous %}
                    <a href="?page={{ customers.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&lt; Prev</a> |
                {% endif %}

                {% if customers.has_next %}
                    <a href="?page={{ customers.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">Next &gt;</a>
                {% endif %}

                <span>Page {{ customers.number }} of {{ customers.paginator.num_pages }}</span>
            </p>
        </div>

    {% endif %}
    {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Payment Details -->
                  
            <!-- end page content -->
            
        </div>
        <!-- end page container -->
        
    </div>



                                       

{% endblock %}

