

{% extends "cadmin/base_admin.html" %}

{% block title %}
    All Products - {{ block.super }}
{% endblock %}

{% block main %}

    <div class="main">

        <!-- <p>&#187; <a href="{% url 'product_list' %}">All Product</a> </p>

        <p class="button"><a href="{% url 'product_add' %}">Add Product &raquo;</a></p> -->

        
<!-- <p class="count">Total Products: {{ products.paginator.count }}</p> -->

    <div class="page-wrapper">
        
        {% include "cadmin/header.html" %}
        <!-- start page container -->
        <div class="page-container">
             {% include "cadmin/sidebar.html" %}
            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Dashboard</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="{% url 'index' %}">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">Product</li>
                            </ol>
                        </div>
                    </div>
                     
                   <!-- start widget -->
                    <div class="state-overview">
                     
                        <div class="row">
                          
                            
                            <!-- /.col -->
                            <!-- <div class="col-xl-3 col-md-6 col-12">
                              <div class="info-box bg-blue">
                                <span class="info-box-icon push-bottom"><i class="material-icons">card_travel</i></span>
                                <div class="info-box-content">
                                  <span class="info-box-text">Total</span>
                                  <span class="info-box-text">Product</span>
                                  <div class="progress">
                                    <div class="progress-bar width-100"></div>
                                  </div>
                                  <span class="progress-description">
                                        {{ products.paginator.count }}
                                      </span>
                                </div>
        
                              </div>
                              
                            </div> -->
                            
                     
                        </div>
                             </div>
                
                    <ul class="nav nav-pills nav-pills-rose">
                        <button type="button" class="btn btn-circle btn-success" onclick="window.location.href='{% url 'purchase_product_add'%}'"><i class="fa fa-plus"></i>Add Purchase</button>   
                    </ul>
                
                     <!-- start Payment Details -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card  card-box">
                                <div class="card-head">
                                    <header>Products Details</header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                       <!--  <a class="t-close btn-color fa fa-times" href="javascript:;"></a> -->
                                    </div>
                                </div>
                                <div class="card-body ">
                                    <!-- <form method='GET' action = ''>
                                        <input type='text' name='q' placeholder='Search Products' value='{{request.GET.q}}' />
                                        <input type="submit" value="Search"/>
                                    </form><br> -->
                                  <div class="table-wrap">
                                        <div class="table-responsive">
        
       
                                                    {% for product in products %}
                                                        {% if forloop.first     %}
                                                            <table   class="table display product-overview mb-30" id="support_table5">
                                                                <thead >
                                                                    <th>Id</th>
                                                                    <th>Name</th>
                                                                    <th>Description</th>
                                                                    <th>Barcode</th>
                                                                    <th>brand</th>
                                                                    <th>Color</th>
                                                                    <th>Cost</th>
                                                                    <th>Sale Price</th>
                                                                    <th>Quantity</th>
                                                                    <th>Bill</th>
                                                                    <th>Date</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                        {% endif %}

                                                        {% if supplier_id == product.supplier.id %}

                                                        <tr>
                                                            <td title="{{ product.id }}">{{ product.id}}</td>
                                                            <td class="product-name" title="{{ product.name }}">{{   product.name|truncatechars:50 }}</td>
                                                            <!-- <td>{{ product.category }}</td> -->
                                                            <!-- {% if request.user.is_superuser %}
                                                                <td>{{ product.author }}</td>
                                                            {% endif %} -->

                                                            <td title="{{ product.description }}">{{ product.description}}</td>
                                                            <td title="{{ product.barcode }}">{{ product.barcode_generated }}</td>
                                                            <td title="{{ product.brand }}">{{ product.brand }}</td>
                                                            <td title="{{ product.colour }}">{{ product.colour }}</td>
                                                            <td title="{{ product.cost }}">{{ product.cost }}</td>
                                                            <td title="{{ product.salePrice }}">{{ product.salePrice }}</td>
                                                            <td title="{{ product.quantity }}">{{ product.quantity }}</td>
                                                            <td title="{{ product.bill }}"> {{ product.bill }} </td>

                     <td title="{{ product.created_at }}">{{ product.created_at|date:"d M Y" }}</td>
                    <td>
                        <a href="{% url 'product_update' product.id %}" class="btn btn-tbl-edit btn-xs"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-tbl-delete btn-xs" href= "{% url 'product_delete' product.id %}?next={{ request.get_full_path }}" onclick=" return confirm('Are you sure ?')"><i class="fa fa-trash-o "></i></a>
                                                            </td>
                                                            {% endif %}
                                                        </tr>

                                                        {% if forloop.last %}
                                                            </table>
                                                        {% endif %}

                                                    {% empty %}
                                                        No Products
                                                    {% endfor %}

                                            </div>

                                            {% if products %}

                                                <div class="pagination">
                                                    <p>
                                                        {% if products.has_previous %}
                                                            <a href="?page={{ products.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&lt; Prev</a> |
                                                        {% endif %}

                                                        {% if products.has_next %}
                                                            <a href="?page={{ products.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">Next &gt;</a>
                                                        {% endif %}

                                                        <span>Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
                                                    </p>
                                                </div>

                                            {% endif %}
                                           {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <div class="card-head card-topline-aqua">
                                        <header>Business Detail</header>
                                    </div>
                                    <div class="card-body no-padding height-9">                        
                                        
                                        <div class="row list-separated profile-stat">
                                            <div class="col-md-3 col-sm-3 col-4">
                                                <div class="uppercase profile-stat-title"> 
                                                                      
                                                    <td title="{{purchase.totalbill}}">{{total_bill}} </td>  
                                                    
                                                </div>
                                                <div class="uppercase profile-stat-text"> Total Amount </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-4">
                                                <div class="uppercase profile-stat-title"> 0 {{total_supplier}} </div>
                                                <div class="uppercase profile-stat-text"> Discount </div>
                                                <!-- <input
                                                  type="edit"
                                                  id="edit"
                                                  onclick="return handleEdit()">

                                                  Edit
                                                </input> -->
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-4">
                                                <div class="uppercase profile-stat-title"> {{total_amountPaid}}</div>
                                                <div class="uppercase profile-stat-text"> Amount Paid </div>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-4">
                                                <div class="uppercase profile-stat-title"> {{total_balance}} </div>
                                                <div class="uppercase profile-stat-text"> Balance </div>
                                            </div>
                                        </div>
                                      

                                        
                                        
                                    </div>
                                

                                                
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end Payment Details -->
             </div>     
            <!-- end page content -->
             </div>
            <!--  end page content wrap -->
        </div>
        <!-- end page container -->
        
    </div>
   <!--  page wrappe end-->


{% endblock %} 
                                    