
{% extends "cadmin/base_admin.html" %}

{% block title %}
Add New sale - {{ block.super }}
{% endblock %}

{% block main %}

<head><style>

#id_customer ,
#id_totalBill ,

#id_discount ,

#id_receivedAmount  {
      width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}
.item {
  display: inline-block;
  position: relative;
}
.t-close {
  position: absolute;
  top: 0;
  right: 0;
}

.resultItem {
    padding 8px;::;
}

.Scanner {
    background-color: lightgreen;
}
.Keyboard {
    background-color: antiquewhite;
}
#resultsList div:first-of-type {
    border: 1px solid black;
}

</style>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">

	$(document).ready(function () {
            /*
    This code will determine when a code has been either entered manually or
    entered using a scanner.
    It assumes that a code has finished being entered when one of the following
    events occurs:
        • The enter key (keycode 13) is input
        • The input has a minumum length of text and loses focus
        • Input stops after being entered very fast (assumed to be a scanner)
*/

var inputStart, inputStop, firstKey, lastKey, timing, userFinishedEntering;
var minChars = 3;

// handle a key value being entered by either keyboard or scanner
$("#scanInput").keypress(function (e) {

	clearTimeout(typingTimer);
      if ($('#scanInput').val) {
        typingTimer = setTimeout(function(){
            //do stuff here e.g ajax call etc....
             var v = $("#scanInput").val();
             $("#out").html(v);
        }, doneTypingInterval);
    }
    $.ajax({
          type : "POST",
          url : "/cadmin/search/",
          data : {'search_text' : $('#scanInput').val(),
          'csrfmiddlewaretoken' : $("input[name = csrfmiddlewaretoken]").val()
        },
        success: searchSuccess,
        dataType: 'html'
      });

    // restart the timer
    if (timing) {
        clearTimeout(timing);
    }
    
    // handle the key event
    if (e.which == 13) {
        // Enter key was entered
        
        // don't submit the form
        e.preventDefault();
        
        // has the user finished entering manually?
        if ($("#scanInput").val().length >= minChars){
            userFinishedEntering = true; // incase the user pressed the enter key
            inputComplete();
        }
    }
    else {
        // some other key value was entered
        
        // could be the last character
        inputStop = performance.now();
        lastKey = e.which;
        
        // don't assume it's finished just yet
        userFinishedEntering = false;
        
        // is this the first character?
        if (!inputStart) {
            firstKey = e.which;
            inputStart = inputStop;
            
            // watch for a loss of focus
            $("body").on("blur", "#scanInput", inputBlur);
        }
        
        // start the timer again
        timing = setTimeout(inputTimeoutHandler, 500);
    }
});

function searchSuccess(data, textStatus, jqXHR)
  {
   
    $('#search_results').html(data);
    if(data.length>0)
                    {
                        console.log(data);
                    }
  }
  //setup before functions
var typingTimer;                //timer identifier
var doneTypingInterval = 1000;  //time in ms, 5 second for example


// Assume that a loss of focus means the value has finished being entered
function inputBlur(){
    clearTimeout(timing);
    if ($("#scanInput").val().length >= minChars){
        userFinishedEntering = true;
        inputComplete();
    }
};


// reset the page
$("#reset").click(function (e) {
    e.preventDefault();
    resetValues();
});

function resetValues() {
    // clear the variables
    inputStart = null;
    inputStop = null;
    firstKey = null;
    lastKey = null;
    // clear the results
    inputComplete();
}

// Assume that it is from the scanner if it was entered really fast
function isScannerInput() {
    return (((inputStop - inputStart) / $("#scanInput").val().length) < 15);
}

// Determine if the user is just typing slowly
function isUserFinishedEntering(){
    return !isScannerInput() && userFinishedEntering;
}

function inputTimeoutHandler(){
    // stop listening for a timer event
    clearTimeout(timing);
    // if the value is being entered manually and hasn't finished being entered
    if (!isUserFinishedEntering() || $("#scanInput").val().length < 3) {
        // keep waiting for input
        return;
    }
    else{
        reportValues();
    }
}

// here we decide what to do now that we know a value has been completely entered
function inputComplete(){
    // stop listening for the input to lose focus
    $("body").off("blur", "#scanInput", inputBlur);
    // report the results
    reportValues();
}

function reportValues() {
    if (!inputStart) {
        // clear the results
        $("#resultsList").html("");
        $("#scanInput").focus().select();
    } else {
        // prepend another result item
        var inputMethod = isScannerInput() ? "Scanner" : "Keyboard";
        $("#resultsList").prepend("<div class='resultItem " + inputMethod + "'>" +
        	"{% for product in products %}" +
        	"{% if product.barcode == search_text %}" +
            "<span>ID: {{product.id}} <br/>" +
            "Name: {{product.name}} <br/>" +
            "Description: {{product.description}} <br/>" +
            "Brand: {{product.brand}} <br/>" +
            "Colour: {{product.colour}} <br/>" +
            "Quantity: {{product.quantity}} <br/>" +
            "Bill: {{product.bill}} <br/>" +
            "{% endif %}" +
            "{% endfor %}" +

// "<div class='row'>"+
// "<div class='col-md-12 col-sm-12'>"+
// "<div class='card  card-box'>"+
// "<div class='card-head'>"+
// "<header>Products Details</header>"+
// "<div class='tools'>"+
// "<a class='fa fa-repeat btn-color box-refresh' href='javascript:;''></a>"+
// "<a class='t-collapse btn-color fa fa-chevron-down' href='javascript:;'></a>"+

// "</div>"+
// "</div>"+
// "<div class='card-body'>"+
// "<div class='table-wrap'>"+
// "<div class='table-responsive'>"+

// "{% if products.count > 0 %}"+
// "{% for product in products %}"+
// "{% if forloop.first     %}"+
// "<table   class='table display product-overview mb-30' id='support_table5'>"+
// "<thead >"+
// "<th>Id</th>"+
// "<th>Name</th>"+
// "<th>Description</th>"+
// "<th>Barcode</th>"+
// "<th>brand</th>"+
// "<th>Color</th>"+
// "<th>Sale Price</th>"+
// "<th>Quantity</th>"+
// "<th>Bill</th>"+
// "</tr>"+
// "</thead>"+
// "{% endif %}"+

// "{% if product.barcode == search_text    %}"+
// "<tr>"+
// "<td title='{{ product.id }}'>{{ product.id}}</td>"+
// "<td class='product-name' title='{{ product.name }}'>{{   product.name|truncatechars:50 }}</td>"+
// "<td title='{{ product.description }}'>{{ product.description}}</td>"+
// "<td title='{{ product.barcode }}'>{{product.barcode_generated }}"+
// "</td>"
// "<td title='{{ product.brand }}'>{{ product.brand }}</td>"+
// "|<td title='{{ product.colour }}'>{{ product.colour }}</td>"+
// "<td title='{{ product.salePrice }}'>{{ product.salePrice }}</td>"+
// "<td title='{{ product.quantity }}'>{{ product.quantity }}</td>"+
// "<td title='{{ product.bill }}'> {{ product.bill }} </td>"+
// "</tr>"+
// "{% endif %}"+
// "{% if forloop.last %}"+
// "</table>"+
// "{% endif %}"+

// "{% empty %}"+
// "No Products"+
// "{% endfor %}"+
// "{% endif %}"+

// "</div>"+

// "{% if products %}"+

// "{% endif %}"+
// "{% if messages %}"+
// "{% for message in messages %}"+
// "<p>{{ message }}</p>"+
// "{% endfor %}"+
// "{% endif %}"+


// "</div>"+
// "</div>" + 
// "</div>"+
// "</div>"+
// "</div>"+


            "<span>InputMethod: <strong>" + inputMethod + "</strong></span></br>" +
            "</span></div></br>");
        $("#scanInput").focus().select();
        inputStart = null;
    }
}

$("#scanInput").focus();
        });

//   $(function()
//   {
//     $('#scanInput').keyup(function()
//     {

//        clearTimeout(typingTimer);
//       if ($('#scanInput').val) {
//         typingTimer = setTimeout(function(){
//             //do stuff here e.g ajax call etc....
//              var v = $("#scanInput").val();
//              $("#out").html(v);
//         }, doneTypingInterval);
//     }
//        // console.log(x); 
//       // var url = "{% url 'search' %}";
//       // console.log(url)
//       $.ajax({
//           type : "POST",
//           url : "/cadmin/search/",
//           data : {'search_text' : $('#scanInput').val(),
//           'csrfmiddlewaretoken' : $("input[name = csrfmiddlewaretoken]").val()
//         },
//         success: searchSuccess,
//         dataType: 'html'
//       });
//     });
//   });
//   function searchSuccess(data, textStatus, jqXHR)
//   {
   
//     $('#search_results').html(data);
//     if(data.length>0)
//                     {
//                         console.log(data);
//                     }
//   }
//   //setup before functions
// var typingTimer;                //timer identifier
// var doneTypingInterval = 1000;  //time in ms, 5 second for example

</script> 
</head>

<div class="main">

   <!--  <p>&#187; <a href="{% url 'sale_list' %}">All sales</a> &#187; Add sale</p>

    <h3>Add sale</h3> -->


    

    <div class="page-wrapper">
        
        {% include "cadmin/header.html" %}
        <!-- start page container -->
        <div class="page-container">
             {% include "cadmin/sidebar.html" %}
            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="page-bar">
                        <div class="page-title-breadcrumb">
                            <div class=" pull-left">
                                <div class="page-title">Dashboard</div>
                            </div>
                            <ol class="breadcrumb page-breadcrumb pull-right">
                                <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href=#>Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                               <li><a class="parent-item" href="{% url 'sale_list' %}">sale</a>&nbsp;<i class="fa fa-angle-right"></i>
                                </li>
                                <li class="active">Add sale</li>
                                
                            </ol>
                        </div>
                    </div>
                     
                     <!-- start Payment Details -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="card card-box">
                                <div class="card-head">
                                    <header>Add sale</header>
                                    {% if products.count > 0 %}
{% for product in products %}
<li><a href="#">{{product.barcode}}</a></li>
{% endfor %}

{% else %}

<li>None to Show!</li>
{% endif %}
                                    <button id = "panel-button2" 
                                           class = "mdl-button mdl-js-button mdl-button--icon pull-right" 
                                           data-upgraded = ",MaterialButton">
                                           <i class = "material-icons">more_vert</i>
                                        </button>
                                        <ul class = "mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                                           data-mdl-for = "panel-button2">
                                           <li class = "mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                                           <li class = "mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                                           <li class = "mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                                        </ul>
                                </div>

                                                    <p>
                                                        {{ form.non_field_errors }}
                                                    </p>

                                <div class="card-body" id="bar-parent2">
                                    <!-- <form action=""> -->
                                            
                                          <!-- </form> -->
                                          
                                    <form action="#" id="form_sample_2" class="form-horizontal" method="POST">
                                        <div class="form-body">
                                             {% csrf_token %}
                                             {{ form.media }}

                                              <div class="card-body" id="bar-parent2">
                                    <form action="#" id="form_sample_2" class="form-horizontal" >
                                        <div class="form-body">
                                            <div class="form-group row  margin-top-20">
                                                <label class="control-label col-md-3">Customer
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-4" >
                                                   {{ form.customer.errors }}
                                                   {{ form.customer }}

                                                </div>
                                            </div>

                                            <!-- productproduct_formset here -->
                                            <!--  <p>
                                        {{ form.non_field_errors }}
                                            </p>
                                            {% csrf_token %}
                                            {{ form.media }} -->
                                            
                                            
                                            <div class="form-group row  margin-top-20">
                                                <label class="control-label col-md-3">Product Barcode
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-4" >
                                                <input id="scanInput" />
    											<button id="reset">Reset</button>

                                                </div>
                                            </div>

<div class="form-group row  margin-top-20">
    <label class="control-label col-md-3"> 
    </label>
    <div class="col-md-4" >
    <div id="search_results"></div>
    </div>
</div>


<div>
     <h2>Results:</h2>

    <div id="resultsList"></div>
</div>

                                            <div class="form-group row">
                                                <label class="control-label col-md-0">Total Bill
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-2">
                                                     {{ form.totalBill.errors }}
                                                     {{ form.totalBill }}
                                                </div>
                                                <label class="control-label col-md-0">Discount
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-2">
                                                     {{ form.discount.errors }}
                                                     {{ form.discount }}
                                                </div>
                                                <label class="control-label col-md-0">ReceivedAmount
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-2">
                                                    {{ form.receivedAmount.errors }}
                                                    {{ form.receivedAmount }}
                                                </div>
                                            </div>
                                            
                                            <!-- <div class="form-group row">
                                                <label class="control-label col-md-3">Discount
                                                    <span class="required"> * </span>
                                                </label>
                                                <div class="col-md-4">
                                                     {{product_formset.discount.errors }}
                                                     {{product_formset.discount }}
                                                </div>
                                            </div> -->                                   
                                        
                                        </div>
                                         <div class="form-group">
                                            <div class="offset-md-3 col-md-9">
                                                <button type="submit" class="btn btn-info">Submit</button>
                                                <!-- <button type="button" class="btn btn-default">Cancel</button> -->
                                            </div>
                                        </div>
                                    </form>
                                    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
<div id="out"></div>
<!-- <div id="go">{{search_text}}</div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>


 {% endblock %}


